parsha256test
parsha256testemu
sha1test
SHA1Notes.txt
\.project
\.cproject
CUDA_TVOTS
TEST_SUITE
pcap.h.txt
prof_output.txt
gmon.out
cscope.out
*.swp
*.o
*.class
*.cubin
*.ptx 
./samples/
.html
a.out
./data
.currGpuTemp
data/
logs/
bench/
